header {
  position: sticky;
  top: 0;
  background-color: rgb(144,238,144, .8);
}

#main {
  max-width: 1000px;
  margin: auto;
}

.nav-link {
  font-size: 25px;
}

#logo {
  border-radius: 4px;
  padding: 5px;
  width: 250px;
  position: absolute;
  left: 50px;
  width: 200px;
  height: 75px;
}

.flex-container {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
}